In [1]:
import pandas as pd

addresses = pd.read_csv('combined_addresses_cz_cleaned.csv')

addresses

,adm_code,city_code,city,city_part,city_part_code,street,building_number,orientation_number,postal_code,latitude,longitude,valid_from
0,15770460,570362,Lužec nad Cidlinou,Lužec nad Cidlinou,89273,NaN,1,NaN,50362,670380.71,1038460.11,2013-12-05T00:00:00
1,15770478,570362,Lužec nad Cidlinou,Lužec nad Cidlinou,89273,NaN,2,NaN,50362,670460.38,1038386.31,2013-12-05T00:00:00
2,15770486,570362,Lužec nad Cidlinou,Lužec nad Cidlinou,89273,NaN,3,NaN,50362,670502.86,1038386.88,2022-10-30T00:00:00
3,15770494,570362,Lužec nad Cidlinou,Lužec nad Cidlinou,89273,NaN,4,NaN,50362,670511.50,1038370.19,2013-12-05T00:00:00
4,15770508,570362,Lužec nad Cidlinou,Lužec nad Cidlinou,89273,NaN,6,NaN,50362,670602.88,1038338.38,2013-12-05T00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
3001227,79245790,563625,Haškovcova Lhota,Haškovcova Lhota,139581,NaN,47,NaN,39165,751223.94,1126771.41,2019-03-25T00:00:00
3001228,81615671,563625,Haškovcova Lhota,Haškovcova Lhota,139581,NaN,48,NaN,39165,750848.17,1126697.99,2021-03-31T00:00:00
3001229,81655177,563625,Haškovcova Lhota,Haškovcova Lhota,139581,NaN,1,NaN,39165,751189.57,1126624.42,2021-04-16T00:00:00
3001230,85347931,563625,Haškovcova Lhota,Haškovcova Lhota,139581,NaN,49,NaN,39165,751195.96,1126761.34,2023-07-12T00:00:00
3001231,85881562,563625,Haškovcova Lhota,Haškovcova Lhota,139581,NaN,50,NaN,39165,750775.77,1126757.71,2023-12-20T00:00:00

In [28]:
city_info = addresses[(addresses["postal_code"] == 37006) & (addresses["city"] == "České Budějovice")]

#& (addresses["city"] == "Jenišov")]
# & (addresses["street"] == "Jaroslava Kociána")]
#& (addresses["building_number"] == 1360)]
#(addresses["postal_code"] == 53345)
#(addresses["city_code"] == 545066)
city_info

,adm_code,city_code,city,city_part,city_part_code,street,building_number,orientation_number,postal_code,latitude,longitude,valid_from
2485356,23384654,544256,České Budějovice,České Budějovice 4,403890,Vrbenská,481,27.0,37006,753395.63,1166131.18,2013-12-04T00:00:00
2485404,23385154,544256,České Budějovice,České Budějovice 5,403903,Vodní,5,15.0,37006,754319.69,1166574.70,2013-12-04T00:00:00
2485405,23385162,544256,České Budějovice,České Budějovice 5,403903,Vodní,6,17.0,37006,754293.82,1166634.93,2013-12-04T00:00:00
2485406,23385171,544256,České Budějovice,České Budějovice 5,403903,Plynárenská,8,6.0,37006,754445.01,1166441.84,2013-12-04T00:00:00
2485407,23385189,544256,České Budějovice,České Budějovice 5,403903,Vodní,9,36.0,37006,754422.55,1166466.88,2013-12-04T00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
2494160,86475215,544256,České Budějovice,České Budějovice 5,403903,El. Krásnohorské,2879,37.0,37006,753193.12,1166555.32,2024-08-23T00:00:00
2494161,86475274,544256,České Budějovice,České Budějovice 5,403903,El. Krásnohorské,2880,39.0,37006,753161.23,1166561.71,2024-08-23T00:00:00
2494162,86475410,544256,České Budějovice,České Budějovice 5,403903,El. Krásnohorské,2882,43.0,37006,753099.15,1166570.16,2024-08-23T00:00:00
2494164,86535277,544256,České Budějovice,České Budějovice 5,403903,Vrbenská,2883,18.0,37006,753322.34,1166467.01,2024-09-26T00:00:00
2494190,86856138,544256,České Budějovice,České Budějovice 5,403903,Třebotovice,2532,NaN,37006,750945.90,1167949.58,2025-03-10T00:00:00