In [13]:
import pandas as pd

addresses = pd.read_csv(r'C:\Users\Sabina\Sabi dokumenty\01 Czechitas\01 PYTHON\Python\combined_addresses_cz_cleaned.csv')

addresses.head(3)

,adm_codeadm_code,city_code,city,city_part,city_part_code,street,building_number,orientation_number,postal_code,latitude,longitude,valid_from
0,15770460,570362,Lužec nad Cidlinou,Lužec nad Cidlinou,89273,NaN,1,NaN,50362,670380.71,1038460.11,2013-12-05T00:00:00
1,15770478,570362,Lužec nad Cidlinou,Lužec nad Cidlinou,89273,NaN,2,NaN,50362,670460.38,1038386.31,2013-12-05T00:00:00
2,15770486,570362,Lužec nad Cidlinou,Lužec nad Cidlinou,89273,NaN,3,NaN,50362,670502.86,1038386.88,2022-10-30T00:00:00

In [25]:
city_info = addresses[
    addresses['city'].str.contains('Dolní Lutyně', case=False, na=False)
    # &
    # (addresses['city_code'] == 553549)
    # &
    # addresses['postal_code'].astype(str).str.contains('79861', case=False, na=False)
    # &
    # addresses['building_number'].astype(str).str.contains('1177/26', case=False, na=False)
]
city_info

,adm_codeadm_code,city_code,city,city_part,city_part_code,street,building_number,orientation_number,postal_code,latitude,longitude,valid_from
2982073,18137661,598968,Dolní Lutyně,Dolní Lutyně,29734,Ke Statku,2,NaN,73553,459383.38,1095177.69,2013-12-01T00:00:00
2982074,18137679,598968,Dolní Lutyně,Dolní Lutyně,29734,Ke Statku,3,NaN,73553,459352.26,1095192.66,2013-12-01T00:00:00
2982075,18137687,598968,Dolní Lutyně,Dolní Lutyně,29734,Soukromá,4,NaN,73553,459324.45,1096308.78,2013-12-01T00:00:00
2982076,18137695,598968,Dolní Lutyně,Dolní Lutyně,29734,U Koupaliště,5,NaN,73553,460453.95,1095582.14,2013-12-01T00:00:00
2982077,18137709,598968,Dolní Lutyně,Dolní Lutyně,29734,U Koupaliště,6,NaN,73553,460476.40,1095586.53,2013-12-01T00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
2983953,86517937,598968,Dolní Lutyně,Dolní Lutyně,29734,K Záblatí,1582,NaN,73553,461884.94,1095984.05,2024-09-18T00:00:00
2983954,86802127,598968,Dolní Lutyně,Dolní Lutyně,29734,K Penzionu,1584,NaN,73553,459723.18,1095053.88,2025-02-07T00:00:00
2983955,86815890,598968,Dolní Lutyně,Věřňovice,180351,U Kaple,240,NaN,73553,459935.64,1091997.84,2025-02-17T00:00:00
2983956,86833979,598968,Dolní Lutyně,Dolní Lutyně,29734,Do Kopce,1583,NaN,73553,459182.90,1096921.08,2025-02-26T00:00:00
2983957,86864394,598968,Dolní Lutyně,Dolní Lutyně,29734,K Zastávce,1586,NaN,73553,459195.86,1096690.86,2025-03-13T00:00:00

In [15]:
city_info = addresses[(addresses['city_code'] == 598003)]

city_info

,adm_codeadm_code,city_code,city,city_part,city_part_code,street,building_number,orientation_number,postal_code,latitude,longitude,valid_from
1139258,20420889,598003,Frýdek-Místek,Frýdek,34991,Farní,1,NaN,73801,467214.26,1118506.80,2013-12-01T00:00:00
1139259,20420901,598003,Frýdek-Místek,Frýdek,34991,Radniční,2,NaN,73801,467260.76,1118615.20,2013-12-01T00:00:00
1139260,20420951,598003,Frýdek-Místek,Frýdek,34991,Farní,6,NaN,73801,467264.43,1118525.16,2013-12-01T00:00:00
1139261,20420960,598003,Frýdek-Místek,Frýdek,34991,K Lesu,7,NaN,73801,466208.34,1117265.64,2013-12-01T00:00:00
1139262,20420978,598003,Frýdek-Místek,Frýdek,34991,Nové Dvory-Hlíny,8,NaN,73801,465084.98,1118942.97,2022-07-20T00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
1146496,86834118,598003,Frýdek-Místek,Místek,413119,Na Hliníku,2567,NaN,73801,467930.67,1120712.08,2025-02-27T00:00:00
1146497,86864246,598003,Frýdek-Místek,Frýdek,34991,Nové Dvory-Podhůří,3942,NaN,73801,465484.42,1119917.26,2025-03-12T00:00:00
1146498,86883216,598003,Frýdek-Místek,Skalice,147974,NaN,572,NaN,73801,463581.44,1122299.03,2025-03-20T00:00:00
1146499,86918923,598003,Frýdek-Místek,Místek,413119,Na Hliníku,2568,NaN,73801,467934.19,1120673.26,2025-03-25T00:00:00
1146500,86919024,598003,Frýdek-Místek,Místek,413119,Na Hliníku,2569,NaN,73801,467923.83,1120677.97,2025-03-25T00:00:00